#window{
    -fx-background-color: black;
}
.button{
    -fx-background-color: black;
    -fx-text-fill: darkred;
}
.button:hover{
    -fx-text-fill: red;
}
.button:disabled{
    -fx-text-fill: darkred;
}
.label{
    -fx-text-fill: darkred;
}
.list-view{
    -fx-background-color: black;
    -fx-font-size: 22px;
    -fx-padding: 0px;
}

.list-cell{
    -fx-background-color: black;
    -fx-text-fill: darkred;

}
.list-cell:filled:hover {
    -fx-text-fill: red;
}

#box{
    -fx-border-width: 1px;
    -fx-border-color: darkgrey;
}


#bar{
    -fx-accent: green;
    -fx-text-fill: black;
}

#xpBar .track{
    -fx-background-color: black;
}

#xpBar{
    -fx-accent: gold;
    -fx-control-inner-background: black;
    -fx-text-border: black;
}

#rightPane{
    -fx-background-color: black;
    -fx-text-fill: red;
}

.text-area{
    -fx-control-inner-background: black;
    -fx-text-fill: darkred;
    -fx-font-size: 18px;
    -fx-text-box-border: transparent;
}
#inventory{
    -fx-font-size: 16px;
    -fx-border-width: 1px;
    -fx-border-color: darkgrey;

}

#menu{
    -fx-background-color: black;
    -fx-opacity: 70%;
}
#gameOver{
    -fx-background-color: black;
    -fx-opacity: 90%;
}