#window{
    -fx-background-color: black;

}
.button{
    -fx-background-color: black;
    -fx-text-fill: darkred;
    -fx-font-size: 14px;
}
.button:hover{
    -fx-text-fill: red;
}
.label{
    -fx-text-fill: darkred;
    -fx-font-size: 14px;
}
.text-field{
    -fx-background-color: dimgrey;
}