#window{
    -fx-background-color: black;
}
.button{
    -fx-background-color: black;
    -fx-text-fill: darkred;
}
.button:hover{
    -fx-text-fill: red;
}
.label{
    -fx-text-fill: darkred;
}
.list-view{
    -fx-background-color: dimgrey;
    -fx-font-size: 22px;
}

.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane .header {
    -fx-background-color: black;
}

.dialog-pane .header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 2em;
}
