#window{
    -fx-background-color: black;

}
.button{
    -fx-background-color: black;
    -fx-text-fill: darkred;
    -fx-font-size: 30px;
}
.button:hover{
    -fx-text-fill: red;
}

#text{
    -fx-control-inner-background: black;
    -fx-background-color: black;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, black, transparent, black;
}

.text-area .content {
    -fx-background-color: transparent, black, transparent, black;
}

.text-area:focused .content {
    -fx-background-color: transparent, black, transparent, black;
}

.text-area:focused {
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: red;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: red;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: red;
}